#начало
Option +FollowSymLinks
RewriteEngine on
#склеивает www и без www
RewriteCond %{HTTP_HOST} ^www.ehot63.github.io/$ [NC]
RewriteRule ^(.*)$ https://ehot63.github.io/$1 [R=301,L]

#переадресует index.php и index.html
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP /
RewriteRule ^index\.html$ http://ehot63.github.io/ [R=301,L]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php
HTTP/ RewriteRule ^index\.php$ http://ehot63.github.io/ [R=301,L]

#переадресует на https
RewriteCond %{SERVER_PORT} !^443$
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

ErrorDocument 404 /eror.html

#редирект на / без слеша
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !\..{1,10}$
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ http://www.ehot63.github.io/$1/ [L,R=301]
