 body { 
	background: #f3f2f3;
	color: #000000;
	font-family: Trebuchet MS, Arial, Times New Roman; 
	font-size: 20px;

}
	
 #wrapper { 
 	background: #FFFFFF; 
 	margin: 60px auto; 
 	max-width: 100%; 
 	height: 1024px; 
} 

 #header { 
 	background: #838283; 
 	height: 250px;
	max-width: 100%; 
}

 #navigation { 
 	background: #a2a2a2; 
 	max-width: 100%; 
 	height: 100px; 
}

  #menu { 
  	background: #333333; 
  	float: left; 
  	width: 0px; 
  	height: 1024px; 	
  	color: #f3f2f3;
}

 #content { 
 	background: #d2d0d2; 
 	max-width: 100%; 
 	height: 2224px; 
} 

#footer { 
	background: #838283; 
	height: 280px;
	max-width: 100%;  
}

.conteyner{


}

.tekt{
	
}

#in-v-top{
	opacity: .0;
}

.in-v-top{
	opacity: .0;
}

.image-zoo{
	height: 80px;
	width: 80px; 
}

.Videos{
	max-height: 100%;
	max-width: 100%; 
}


a{
	font-size: 24px;

}

.a404{
	height: 350px;
	width: 225px; 
}

.error{
	text-align: center;
	display: inline-block;
	font-size: 22px;
}
