 body { 
	background: #f3f2f3;
	color: #000000;
	font-family: Trebuchet MS, Arial, Times New Roman; 
	font-size: 12px;

}
	
 #wrapper { 
 	background: #FFFFFF; 
 	margin: 60px auto; 
 	width: 900px; 
 	height: 1024px; 
} 

 #header { 
 	background: #838283; 
 	height: 250px;
	width: 900px; 
}

 #navigation { 
 	background: #a2a2a2; 
 	width: 900px; 
 	height: 300px; 
}

  #menu { 
  	background: #333333; 
  	float: left; 
  	width: 200px; 
  	height: 1024px; 	
  	color: #f3f2f3;
}

 #content { 
 	background: #d2d0d2; 
 	width: 900px; 
 	height: 1024px; 
} 

#footer { 
	background: #838283; 
	height: 180px;
	width: 900px; 
}

.conteyner{


}

.tekt{
	
}

.image-zoo{
	height: 80px;
	width: 80px; 
}

