 body { 
	background: #f3f2f3;
	color: #000000;
	font-family: Trebuchet MS, Arial, Times New Roman; 
	font-size: 20px;

}
	
 #wrapper { 
 	background: #FFFFFF; 
 	margin: 60px auto; 
 	max-width: 100%; 
 	height: 1024px; 
} 

 #header { 
 	background: #838283; 
 	height: 250px;
	max-width: 100%; 
}

 #navigation { 
 	background: #a2a2a2; 
 	max-width: 100%; 
 	height: 150px; 
}

  #menu { 
  	background: #333333; 
  	float: left; 
  	width: 0px; 
  	height: 1024px; 	
  	color: #f3f2f3;
}

 #content { 
 	background: #d2d0d2; 
 	max-width: 100%; 
 	height: 7000px; 
} 

#footer { 
	background: #838283; 
	height: 280px;
	max-width: 100%;  
}

.conteyner{


}

.tekt{
	
}

#in-v-top{
	opacity: .0;
}

.in-v-top{
	opacity: .0;
}

.image-zoo{
	height: 15%;
	width: 15%; 
}

.Videos{
	max-height: 100%;
	max-width: 100%; 
}


a{
	font-size: 24px;

}

.a404{
	height: 350px;
	width: 225px; 
}

.error{
	font-size: 22px;
}

.eror{
	top: 50%;
   	left: 50%;
	width: 100%;
 	z-index: 3;
 	padding: 0px 15px;
 	position: absolute;
	transform: translate(-50%, -50%);
	max-width: 880px;
	text-align: center;
	font-size: 25px;
}


@keyframes utkaFly {
	0%{
		left: 150%;
		top:10%;
	}
	25%{
		left: 80%;
		top:50%;
	}
	50%{
		left: 50%;
		top:30%;
	}
	75%{
		left: 30%;
		top:40%;
	}
	100%{
		left: -50%;
		top:10%;
	}
}

keyframes utkaDie {
	0%{
		left: -50%;
	}
}

.duck:checked{
	counter-increment: score;
}

.score:after{
	content: counter(score);
}
